Log all the changes into CHANGES.md file
Any function should only be 0, 1, 2 indentations maximum.
All functions should not exceed 30 lines, refactor if necessary.
All classes should not exceed 200 lines, refactor if necessary.
Implement the strategy pattern instead of having an if condition when executing external commands.
Prefer table driven tests when writing unit tests.
Any created line with only whitespace should only be a new line.
If you create or edit a line ensure there is no trailing whitespace.
Prefer a single space after a comma.
Prefer a single space before a semicolon.
Avoid magic number or strings by creating variables or constants instead.
For classes and functions should get their values from constructors or passed via parameters, do not read values from environment variables. Only the main function or class should read values from environment variables.
